.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    .left {
        width: 50vw;
        height: 100vh;
        background-color: #F5DF4D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: cursive;
    }
    .right {
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        .header {
            width: 50vw;
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: cursive;
        }
        .body {
            height: 30vh;
            width: 50vw;
            display: flex;
            flex-direction: column;
            .fileIn {
                height: 10vh;
                width: 50vw;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            .Innn {
                height: 10vh;
                width: 50vw;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
            .end {
                height: 10vh;
                width: 50vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .btt {
                    border-top-left-radius: 25px;
                    border-top-right-radius: 25px;
                    border-bottom-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                    background-color: aquamarine;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                }
                .btt:hover {
                    transform: scale(1.2);
                }
            }
        }
        .footer {
            height: 40vh;
            width: 50vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: xx-small;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}